<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532036606234-m6n8m19ivbpo9goeomjmuocuotjuubln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532036606234-m6n8m19ivbpo9goeomjmuocuotjuubln</string>
	<key>API_KEY</key>
	<string>AIzaSyCf_jS2IZ0edl7wB8SqaZQJUspb9rq5x7I</string>
	<key>GCM_SENDER_ID</key>
	<string>532036606234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rnoteApp</string>
	<key>PROJECT_ID</key>
	<string>rnote-7ea67</string>
	<key>STORAGE_BUCKET</key>
	<string>rnote-7ea67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532036606234:ios:585fef2a7aff503fa2b4a3</string>
</dict>
</plist>